
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #102C38;
  font-weight: 700;
}


.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.temp{
  height: 110vh;
}
.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.info-container {
  background: #001A25;
  transform: translateZ(-500) scale(1);
  z-index: 8;
  display: flex;
  top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.l0 {
  background: url('Image/L0.svg') no-repeat center;
  background-size: cover;
  transform: translateZ(-0px) scale(1);
  z-index: 10;
}

.l1 {
    background: url('Image/L1.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-200px) scale(1.6666667);
    z-index: 10;
}

.l2 {
    background: url('Image/L2.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-300px) scale(2);
    z-index: 9;
}


.l3 {
    background: url('Image/L3.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-500px) scale(2.6666667);
    z-index: 8;
}

.l4 {
    background: url('Image/L4.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-700px) scale(3.3333);
    z-index: 7;
}

.l5 {
    background: url('Image/L5.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-800px) scale(3.6666667);
    z-index: 6;
}

.l6 {
    background: url('Image/L6.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-900px) scale(4);
    z-index: 5;
}

.l7 {
    background: url('Image/L7.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-1800px) scale(7);
    z-index: 4;
}


.l8 {
    background: url('Image/L8.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-2000px) scale(7.6666667);
    z-index: 3;
}

.l9 {
    background: url('Image/L9.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-3000px) scale(11);
    z-index: 2;
}

.l10 {
    background: url('Image/L10.svg') no-repeat center;
    background-size: cover;
    transform: translateZ(-4000px) scale(14.333333);
    z-index: 1;
}











































